<article>
  <div class="content">
    <img class="slide" src="img/network.svg" alt="A polygon">
  </div>
  <footer class="footer">
    <div class="footer-logo">
      <img src="img/sapiare-logo.svg" alt="Sapiare Logo">
    </div>
    <h1 class="footer-title">Network Effects</h1>
  </footer>
</article>
